aum
autograd_lib
catboost>=1.1
flake8
ipykernel
isort
lightgbm
matplotlib
nltk
notebook
numpy
pandas>=1.3.5
pre-commit>=2.19.0
protobuf>=4.21.8
scikit-learn>=1.0.2
scipy>=1.7.3
SciencePlots
seaborn
sdv>=0.17.1
tqdm
uq360
umap-learn
xgboost>=1.6.2
xlrd
